<!DOCTYPE html>
<meta charset="utf-8">
<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
<style>

svg {
  font: 10px sans-serif;
}

path {
  fill: none;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.meta-column {
    font-family: "Arvo",serif;
	float: right;
	margin-right: 1px;
	width: 220px;
    height: 1000px;
}

.timeline-column {
	float: left;
}

.title {
	display: block;
	color: white;
	background-color: rgb(82, 84, 90);
	font-weight: bold;
}

</style>

<body>
<div id="left-col" class="timeline-column"></div>
<div id="meta-box" class="meta-column"></div>
<script src="../d3/d3.v2.js"></script>
<script>
var formatDate = d3.time.format('%Y-%m-%d %H:%M:%S');
var items = $items

var meta = items.meta
var series = []

for (var i=0; i<items.dates.length; i++){
	series[i] = []
	for (var j=0; j<items.dates[i].length; j++){
		series[i][j] = {date: formatDate.parse(items.dates[i][j]), price:items.counts[i][j]}
	}
}

var color = d3.scale.category20c();

var margin = {top: 10, right: 10, bottom: 100, left: 40},
    margin2 = {top: 430, right: 10, bottom: 20, left: 40},
    width = 1600 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom,
    height2 = 500 - margin2.top - margin2.bottom;

var x = d3.time.scale().range([0, width]),
    x2 = d3.time.scale().range([0, width]),
    y = d3.scale.linear().range([height, 0]),
    y2 = d3.scale.linear().range([height2, 0]);

var xAxis = d3.svg.axis().scale(x).orient("bottom"),
    xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
    yAxis = d3.svg.axis().scale(y).orient("left");

var brush = d3.svg.brush()
    .x(x2)
    .on("brush", brush);

var area = d3.svg.line()
			 .x(function(d) { return x(d.date); })
			 .y(function(d) { return y(d.price); })
			 .interpolate("monotone");
			 
var area2 = d3.svg.line()
    .x(function(d) { return x2(d.date); })
    .y(function(d) { return y2(d.price); })
    .interpolate("monotone");
    
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    
timelineCol = d3.select("#left-col")
timelineCol.append("svg").attr("d", svg);

svg.append("defs").append("clipPath")
    .attr("id", "clip")
    .append("rect")
    .attr("width", width)
    .attr("height", height);

var focus = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")")
    
var context = svg.append("g")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")"); 

//Find extent of x domain and the max value of y domain. Iterate over all extents and find the largest extent
//x domain must be scaled according to the largest extent
var maxx = d3.max(series[0].map(function(d) { return d.date; }));
var minx = d3.min(series[0].map(function(d) { return d.date; }));
var maxy = 0;
for (var i=0; i<series.length; i++){
	var temp_maxx = d3.max(series[i].map(function(d) { return d.date; }));
	if (temp_maxx > maxx){
		maxx = temp_maxx;
	}
	var temp_minx = d3.min(series[i].map(function(d) { return d.date; }));
	if (temp_minx < minx){
		minx = temp_minx;
	}
	var temp_maxy = d3.max(series[i].map(function(d) { return d.price; }));
	if (temp_maxy > maxy){
		maxy = temp_maxy;
	}
}
console.log(maxx);
console.log(minx);

//Sets the x domain to be equal to the width of the extent	
x.domain([minx, maxx]);
y.domain([0, maxy]);
x2.domain(x.domain());
y2.domain(y.domain());

//Appends the large chart
focus.selectAll(".line")
    .data(series)
    .enter()
    .append("path")
    .attr("clip-path", "url(#clip)")
    .attr("d", area)
    .attr("stroke", function(d, i) {return color(i)})
    .attr("stroke-width", 3)
    .on("mouseover", mouseover)
    .on("mouseout", mouseout)
    .on("click", click);

//Appends the x axis
focus.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis);
		  
//Appends the small chart
context.selectAll(".line")
    .data(series)
    .enter()
    .append("path")
    .attr("d", area2)
	.attr("stroke", function(d, i) {return color(i)});

//Appends the x axis of the small chart
context.append("g")
    .attr("class", "x axis")
    .attr("transform", "translate(0," + height2 + ")")
    .call(xAxis2);

//Appends the brush of the small chart
context.append("g")
    .attr("class", "x brush")
    .call(brush)
    .selectAll("rect")
    .attr("y", -6)
    .attr("height", height2);

function brush() {
  x.domain(brush.empty() ? x2.domain() : brush.extent());
  focus.selectAll("path").attr("d", area);
  focus.select(".x.axis").call(xAxis);
}

//-------------------EVENT HANDLERS ---------------//
function mouseover(d, i){
	focus.select("path:nth-child("+(i+1)+")").attr("stroke-width", 8);
}

function mouseout(d, i){
	focus.select("path:nth-child("+(i+1)+")").attr("stroke-width", 3);
}

function click(d, i){
	
	if (meta){
		//Appends events to show coords
		focus.selectAll("circle") 
          .data(meta) 
          .enter() 
          .append("circle") 
          .attr("cx", function(d) { return x(formatDate.parse(d.date)); }) 
          .attr("cy", function(d) {    var date = formatDate.parse(d.date);
                                       for (var i = 0; i<series[0].length; i++) 
          								if (date - series[0][i].date == 0) {
          									return y(series[0][i].price);
          								}
           					      }) 
          .attr("r", 8) 
          .attr("opacity", 1) 
          .attr("fill", d3.rgb(0, 0, 0))
          .append("svg:title").text(function(d) {return "Date: " + d.date + "\nTitle: " + d.price;});
	}
}

</script>